<app-header [title]="'calendarPage.title' | translate"></app-header>
<ion-content [fullscreen]="true">
  <div padding>
    <ion-segment [(ngModel)]="tabType" scrollable="true" (ionChange)="segmentChanged($event)">
      <ion-segment-button value="today">
        {{ 'calendarPage.todayLabel' | translate }}
      </ion-segment-button>
      <ion-segment-button value="upcomming">
        {{ 'calendarPage.upcomingLablel' | translate }}
      </ion-segment-button>
      <ion-segment-button value="calendar">
        {{ 'calendarPage.calendarLablel' | translate }}
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="tabType" style="overflow-y: auto;">
    <div *ngSwitchCase="'today'" class="essential-theme">
      <cta-panel *ngIf="!(calendarState$ | async).todayCalendarItems || (calendarState$ | async).todayCalendarItems.length <= 0" [topIcon]="'information-circle'" [title]="'calendarPage.ctaPanel.title' | translate"
			  [details]="'calendarPage.ctaPanel.details' | translate" [extraDetails]="'calendarPage.ctaPanel.extraDetails' | translate"
			  [btnLabel]="'calendarPage.ctaPanel.buttonLabel' | translate" [hideButton]="true"></cta-panel>
        <ion-list class="is-list-colored" *ngIf="(calendarState$ | async).todayCalendarItems && (calendarState$ | async).todayCalendarItems.length > 0">
          <ion-item class="is-item-category-success" [style.border-left]="getSideColor(item)" *ngFor="let item of (calendarState$ | async).todayCalendarItems" (click)="viewDetail(item)">
            <ion-label>
              <p class="is-color-success">{{item.TypeName}}</p>
              <h2>{{item.Title}}</h2>
              <p>{{getFullDateTime(item.Start)}}</p>
            </ion-label>
            <div slot="end" class="is-list-colored-button-group">
              <div class="ion-text-center">
                <p class="ion-no-margin">{{getDateTime(item.Start)}} - {{getDateTime(item.End)}}</p>
                <p class="ion-no-margin" class="is-color-primary">
                  {{item.Location}}
                </p>
              </div>
            </div>
            <div slot="end" class="is-list-colored-button-group">
              <ion-button fill="clear" class="ion-no-padding ion-align-self-center">
                <ion-icon name="arrow-forward"></ion-icon>
              </ion-button>
            </div>
          </ion-item>
        </ion-list>
    </div>

    <div *ngSwitchCase="'upcomming'" class="essential-theme">
      <cta-panel *ngIf="!(calendarState$ | async).upcomingCalendarItems || (calendarState$ | async).upcomingCalendarItems.length <= 0" [topIcon]="'information-circle'" [title]="'calendarPage.ctaPanel2.title' | translate"
      [details]="'calendarPage.ctaPanel2.details' | translate" [extraDetails]="'calendarPage.ctaPanel2.extraDetails' | translate"
      [btnLabel]="'calendarPage.ctaPanel2.buttonLabel' | translate" [hideButton]="true"></cta-panel>
    <ion-list class="is-list-square" *ngIf="(calendarState$ | async).upcomingCalendarItems && (calendarState$ | async).upcomingCalendarItems.length > 0">
      
      <ion-item class="is-list-square-has-square ion-no-padding" *ngFor="let item of (calendarState$ | async).upcomingCalendarItems" (click)="viewDetail(item)">
        <ion-thumbnail slot="start" style="padding: 4px !important;" [style.background-color]="item.TypeColor">
          <div style="font-weight: bold;"><span>{{getDateDay(item.Start)}}</span><br>{{getDateMonth(item.Start)}}</div>
        </ion-thumbnail>
        <ion-label>
          <p class="is-list-square-title">{{item.Title}}</p>
          <p class="is-list-square-note">{{getFullDateTime(item.Start)}} <span>{{getDateTime(item.Start)}} - {{getDateTime(item.End)}}</span></p>
          <p class="ion-no-margin" class="is-color-primary">
            {{item.Location}}
          </p>
        </ion-label>
        <div slot="end">
          <ion-button fill="clear" class="ion-no-padding ion-align-self-center">
            <ion-icon name="arrow-forward"></ion-icon>
          </ion-button>
        </div>
      </ion-item>
    </ion-list>
    </div>

    <div *ngSwitchCase="'calendar'">
      <ion-grid>
        <ion-row>
          <ion-col>
            <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
          </ion-col>
          <ion-col style="text-align: right;">
            <ion-toolbar>
              <ion-button fill="outline" color="medium" size="small" mwlCalendarPreviousView
              [view]="view"
              [(viewDate)]="viewDate"
              (viewDateChange)="closeOpenMonthViewDay()">
                <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
              </ion-button>
              <ion-button fill="outline" color="medium" size="small" mwlCalendarToday
              [(viewDate)]="viewDate">
                <ion-icon slot="icon-only" name="today-outline"></ion-icon>
              </ion-button>
              <ion-button fill="outline" color="medium" size="small" mwlCalendarNextView
              [view]="view"
              [(viewDate)]="viewDate"
              (viewDateChange)="closeOpenMonthViewDay()"> 
                <ion-icon slot="icon-only" name="chevron-forward-outline"></ion-icon>
              </ion-button>
            </ion-toolbar>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <mwl-calendar-month-view [ngClass]="getDarkMode()" [viewDate]="viewDate" [events]="events" [refresh]="refresh" [activeDayIsOpen]="activeDayIsOpen" (dayClicked)="dayClicked($event.day)"
              (eventClicked)="handleEvent('Clicked', $event.event)" >
            </mwl-calendar-month-view>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>