<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{'shiftDayPage.title' | translate}}
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="essential-theme">
  <h3>{{(shiftsState$ | async).viewShiftDay?.ShiftName}}</h3>
	<h4><b>{{getDateMonth((shiftsState$ | async).viewShiftDay?.Start)}}</b>&nbsp;<b>{{getDateDay((shiftsState$ | async).viewShiftDay?.Start)}}</b>&nbsp;:&nbsp;<b>{{getDateTime((shiftsState$ | async).viewShiftDay?.Start)}}&nbsp;-&nbsp;{{getDateTime((shiftsState$ | async).viewShiftDay?.End)}}</b></h4>
	<br>
	<ion-list>
		<ion-item class="item-divider item-icon-right"><b>Information</b></ion-item>
		<ion-item [hidden]="!(shiftsState$ | async).viewShiftDay?.SignedUp">
			You are assigned/signed up to this shift.
		</ion-item>
	</ion-list>
	<br>
	<ion-list [hidden]="(shiftsState$ | async).viewShiftDay?.ShiftType !== 1">
		<ion-item class="item-divider item-icon-right"><b>Shift Needs</b></ion-item>
		<ion-item *ngFor="let need of (shiftsState$ | async).viewShiftDay?.Needs">
			{{need.GroupName}}

			<ion-list>
				<ion-item class="item-divider"><b>Roles</b></ion-item>
				<ion-item *ngFor="let groupNeed of need.GroupNeeds">
					{{groupNeed.RoleName}} ({{groupNeed.Needed}})
				</ion-item>
				<br>
				<button ion-button block color="primary" (click)="signup(need.GroupId)" [hidden]="(shiftsState$ | async).viewShiftDay?.SignedUp || !isInTheFuture((shiftsState$ | async).viewShiftDay)">Signup for Shift at {{need.GroupName}}</button>
			</ion-list>
		</ion-item>
	</ion-list>
</ion-content>