<app-header [title]="'personnelPage.title' | translate"></app-header>
<ion-content [fullscreen]="true">
  <ion-toolbar>
    <ion-searchbar placeholder="Search..." animated (ionCancel)="hideSearch()" (ionChange)="search($event)"></ion-searchbar>
    <ion-buttons slot="end">
      <ion-button (click)="showFilter()">
        <ion-icon slot="icon-only" name="filter"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <div *ngIf="!(personnelState$ | async).personnel || filterPersonnel((personnelState$ | async).personnel).length <= 0">
    <cta-panel [topIcon]="'information-circle'" [title]="'personnelPage.ctaPanel.title' | translate" [details]="'personnelPage.ctaPanel.details' | translate"
      [extraDetails]="'personnelPage.ctaPanel.extraDetails' | translate" [btnLabel]="'personnelPage.ctaPanel.buttonLabel' | translate" [hideButton]="true"></cta-panel>
  </div>

  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list *ngIf="(personnelState$ | async).personnel && filterPersonnel((personnelState$ | async).personnel).length > 0">
      <app-person-card *ngFor="let person of filterPersonnel((personnelState$ | async).personnel)" (click)="viewPerson(person)" [person]="person"></app-person-card>
  </ion-list>
</ion-content>