<app-header [title]="'unitsPage.title' | translate"></app-header>
<ion-content [fullscreen]="true">
  <ion-toolbar>
    <ion-searchbar placeholder="Search..." animated (ionCancel)="hideSearch()" (ionChange)="search($event)"></ion-searchbar>
    <ion-buttons slot="end">
      <ion-button (click)="showFilter()">
        <ion-icon slot="icon-only" name="filter"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <div *ngIf="!(unitsState$ | async).units || filterUnits((unitsState$ | async).units).length <= 0">
    <cta-panel [topIcon]="'information-circle'" [title]="'unitsPage.ctaPanel.title' | translate" [details]="'unitsPage.ctaPanel.details' | translate"
      [extraDetails]="'unitsPage.ctaPanel.extraDetails' | translate" [btnLabel]="'unitsPage.ctaPanel.buttonLabel' | translate" [hideButton]="true"></cta-panel>
  </div>

  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list *ngIf="(unitsState$ | async).units && filterUnits((unitsState$ | async).units).length > 0">
      <app-units-card *ngFor="let unit of filterUnits((unitsState$ | async).units)" (click)="viewUnit(unit)" [unit]="unit"></app-units-card>
  </ion-list>
</ion-content>