<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{'personnelFilterPage.title' | translate}}
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item-group *ngFor="let group of (personnelState$ | async).personnelFilterOptions | groupBy:'Type'">
    <ion-item-divider>
      <ion-label>{{group.key}}</ion-label>
    </ion-item-divider>
    <ion-item *ngFor="let option of group.value">
      <ion-label>{{option.Name}}</ion-label>
      <ion-checkbox color="primary" [checked]="option.Selected" (ionChange)="selectOption($event, option.Id)"></ion-checkbox>
    </ion-item>
  </ion-item-group>
</ion-content>