<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Resgrid {{'appName' | translate}}
    </ion-title>
    <ion-buttons slot="start" [hidden]="!(settingsState$ | async).loggedIn">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-list-header>
            <ion-label>{{'settingsPage.accountSettingsTitle' | translate}}</ion-label>
          </ion-list-header>
          <ion-item lines="none" (click)="showSetServerAddressModal()">
            <ion-avatar slot="start" class="green-bg">
              <ion-icon name="server-outline"></ion-icon>
            </ion-avatar>
            <ion-label>
              <h2>{{'settingsPage.serverInfoLabel' | translate}}</h2>
              <p>{{'settingsPage.serverInfoText' | translate}}</p>
            </ion-label>
          </ion-item>
          <ion-item lines="none" (click)="showLoginModal()">
            <ion-avatar slot="start" class="cyan-bg">
              <ion-icon name="person-outline"></ion-icon>
            </ion-avatar>
            <ion-label>
              <h2>{{'settingsPage.loginInfoLabel' | translate}}</h2>
              <p>{{'settingsPage.loginInfoText' | translate}}</p>
            </ion-label>
          </ion-item>
          <ion-item lines="none" [hidden]="!(settingsState$ | async).loggedIn" (click)="logOut()">
            <ion-avatar slot="start" class="red-bg">
              <ion-icon name="log-out-outline"></ion-icon>
            </ion-avatar>
            <ion-label>
              <h2>{{'settingsPage.logOutInfoLabel' | translate}}</h2>
              <p>{{'settingsPage.logOutInfoText' | translate}}</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-list-header>
            <ion-label>{{'settingsPage.applicationSettingsTitle' | translate}}</ion-label>
          </ion-list-header>
          <ion-item lines="none">
            <ion-avatar slot="start" class="navy-bg">
              <ion-icon name="contrast-outline"></ion-icon>
            </ion-avatar>
            <ion-label>
              <h2>{{'settingsPage.darkThemeLabel' | translate}}</h2>
              <p>{{'settingsPage.darkThemeText' | translate}}</p>
            </ion-label>
            <ion-select item-end placeholder="Default" (ngModelChange)="setPerferDarkMode($event)" [(ngModel)]="themePreference">
              <ion-select-option value="-1">Default</ion-select-option>
              <ion-select-option value="0">Light</ion-select-option>
              <ion-select-option value="1">Dark</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item lines="none">
            <ion-avatar slot="start" class="blue-bg">
              <ion-icon name="tv-outline"></ion-icon>
            </ion-avatar>
            <ion-label>
              <h2>{{'settingsPage.keepActiveLabel' | translate}}</h2>
              <p>{{'settingsPage.keepActiveText' | translate}}</p>
            </ion-label>
            <ion-toggle item-end color="primary" [checked]="keepAlive$ | async" (ionChange)="setKeepAlive($event)"></ion-toggle>
          </ion-item>
          <ion-item lines="none" [hidden]="true">
            <ion-avatar slot="start" class="green-bg">
              <ion-icon name="location-outline"></ion-icon>
            </ion-avatar>
            <ion-label>
              <h2>{{'settingsPage.locationUpdatesLabel' | translate}}</h2>
              <p>{{'settingsPage.locationUpdatesText' | translate}}</p>
            </ion-label>
            <ion-toggle item-end color="primary" [checked]="backgroundGeolocationEnabled$ | async" (ionChange)="setSendLocationUpdates($event)"></ion-toggle>
          </ion-item>
          <ion-item lines="none">
            <ion-avatar slot="start" class="red-bg">
              <ion-icon name="navigate-outline"></ion-icon>
            </ion-avatar>
            <ion-label>
              <h2>{{'settingsPage.backgroundGeolocationLabel' | translate}}</h2>
              <p>{{'settingsPage.backgroundGeolocationText' | translate}}</p>
            </ion-label>
            <ion-toggle item-end color="primary" [checked]="backgroundGeolocationEnabled$ | async" (ionChange)="setBackgroundGeolocation($event)"></ion-toggle>
          </ion-item>
          <ion-item lines="none" [hidden]="!(settingsState$ | async).loggedIn">
            <ion-avatar slot="start" class="gray-bg">
              <ion-icon name="notifications-outline"></ion-icon>
            </ion-avatar>
            <ion-label>
              <h2>{{'settingsPage.pushNotificationsLabel' | translate}}</h2>
              <p>{{'settingsPage.pushNotificationsText' | translate}}</p>
            </ion-label>
            <ion-toggle item-end color="primary" [checked]="pushNotificationEnabled$ | async" (ionChange)="setPushNotification($event)"></ion-toggle>
          </ion-item>
          <ion-item lines="none">
            <ion-avatar slot="start" class="purple-bg">
              <ion-icon name="headset-outline"></ion-icon>
            </ion-avatar>
            <ion-label>
              <h2>{{'settingsPage.headsetLabel' | translate}}</h2>
              <p>{{'settingsPage.headsetText' | translate}}</p>
            </ion-label>
            <ion-select item-end placeholder="Select One" (ngModelChange)="setHeadsetType($event)" [(ngModel)]="headSetType">
              <ion-select-option value="-1">None</ion-select-option>
              <ion-select-option value="0">Inrico & Aina</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item lines="none" hidden="true" *ngIf="isIos() && headSetType != '-1'">
            <ion-button expand="block" fill="solid" color="primary" (click)="connectBle()">Connect to Headset</ion-button>
          </ion-item>
          <ion-item lines="none">
            <ion-avatar slot="start" class="pink-bg">
              <ion-icon name="mic"></ion-icon>
            </ion-avatar>
            <ion-label>
              <h2>{{'settingsPage.microphoneLabel' | translate}}</h2>
              <p>{{'settingsPage.microphoneText' | translate}}</p>
            </ion-label>
            <ion-select item-end placeholder="Select One" (ngModelChange)="setMic($event)" [ngModel]="selectedMicrophone">
              <ion-select-option *ngFor="let mic of microphones" [value]="mic.device">{{mic.label}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-list-header>
            <ion-label>{{'settingsPage.optionsTitle' | translate}}</ion-label>
          </ion-list-header>
          <ion-item lines="none" (click)="showsAboutModal()">
            <ion-avatar slot="start" class="yellow-bg">
              <ion-icon name="information-outline"></ion-icon>
            </ion-avatar>
            <ion-label>
              <h2>{{'settingsPage.aboutLabel' | translate}}</h2>
              <p>{{'settingsPage.aboutText' | translate}}</p>
            </ion-label>
          </ion-item>
          <ion-item lines="none" (click)="clearCache()">
            <ion-avatar slot="start" class="gray-bg">
              <ion-icon name="trash-outline"></ion-icon>
            </ion-avatar>
            <ion-label>
              <h2>{{'settingsPage.clearCacheLabel' | translate}}</h2>
              <p>{{'settingsPage.clearCacheText' | translate}}</p>
            </ion-label>
          </ion-item>
          <ion-item lines="none" (click)="reloadData()" [hidden]="true">
            <ion-avatar slot="start" class="gray-bg">
              <ion-icon name="information-outline"></ion-icon>
            </ion-avatar>
            <ion-label>
              <h2>{{'settingsPage.reloadDataLabel' | translate}}</h2>
              <p>{{'settingsPage.reloadDataText' | translate}}</p>
            </ion-label>
          </ion-item>
          <ion-item lines="none" [hidden]="true">
            <ion-avatar slot="start" class="yellow-bg">
              <ion-icon name="lock-open-outline"></ion-icon>
            </ion-avatar>
            <ion-label>
              <h2>{{'settingsPage.requestPermissionLabel' | translate}}</h2>
              <p>{{'settingsPage.requestPermissionText' | translate}}</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
