<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{'calendarViewPage.title' | translate}}
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="essential-theme">
  <div padding>
    <ion-segment [(ngModel)]="tabType" scrollable="true" (ionChange)="segmentChanged($event)">
      <ion-segment-button value="details">
        {{ 'calendarViewPage.detailsLablel' | translate }}
      </ion-segment-button>
      <ion-segment-button value="attendees">
        {{ 'calendarViewPage.attendeesLablel' | translate }}
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="tabType" style="overflow-y: auto;">
    <div *ngSwitchCase="'details'" padding>
      <h1 class="ion-padding-horizontal">{{(calendarState$ | async).viewCalendarItem?.Title}}</h1>

      <ion-grid class="is-grid is-grid-tiles is-grid-bordered ion-no-padding">
        <ion-row>
          <ion-col size="6" class="is-tile ion-no-padding">
            <div class="is-col-header">
              <p>{{ 'calendarViewPage.eventTime' | translate }}</p>
            </div>
            <h3>
              {{getStartDate((calendarState$ | async).viewCalendarItem)}}<br>
              {{getEndDate((calendarState$ | async).viewCalendarItem)}}
            </h3>
          </ion-col>
          <ion-col size="6" class="is-tile ion-no-padding">
            <div class="is-col-header">
              <p>{{ 'calendarViewPage.timeToEvent' | translate }}</p>
            </div>
            <h3 class="is-color-success">
              {{getTimeTillStart((calendarState$ | async).viewCalendarItem)}}
            </h3>
          </ion-col>
        </ion-row>
      </ion-grid>
    
      <ion-item-group class="is-list-avatar-buttons">
        <ion-item-divider>
          <ion-label>{{ 'calendarViewPage.description' | translate }}</ion-label>
        </ion-item-divider>
        <ion-item>
          <ion-label>
            <p [innerHtml]="(calendarState$ | async).viewCalendarItem?.Description"></p>
          </ion-label>
        </ion-item>
      </ion-item-group>
    
      <ion-item-group>
        <ion-item-divider>
          <ion-label>{{ 'calendarViewPage.location' | translate }}</ion-label>
        </ion-item-divider>
        <ion-item>
          <ion-label>
            <p><ion-icon name="pin-outline"></ion-icon> {{(calendarState$ | async).viewCalendarItem.Location}}</p>
          </ion-label>
        </ion-item>
      </ion-item-group>

      <ion-item-group [hidden]="getDate((calendarState$ | async).viewCalendarItem) < now() || !isRsvp((calendarState$ | async).viewCalendarItem) || (calendarState$ | async).viewCalendarItem.Attending">
        <ion-item-divider>
          <ion-label>{{ 'calendarViewPage.signupLabel' | translate }}</ion-label>
        </ion-item-divider>
        <ion-item>
          <ion-grid>
            <ion-row>
              <ion-col col-12>
                <ion-input [(ngModel)]="note" placeholder="{{ 'calendarViewPage.notePlaceholder' | translate }}" name="line" type="text"></ion-input>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-6>
                <ion-button expand="full" color="primary" (click)="setResponding(1)">{{ 'calendarViewPage.acceptButton' | translate }}</ion-button>
              </ion-col>
              <ion-col col-6>
                <ion-button expand="full" color="danger" (click)="setResponding(4)">{{ 'calendarViewPage.declineButton' | translate }}</ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-item-group>
    </div>

    <div *ngSwitchCase="'attendees'">
      <div *ngIf="!(calendarState$ | async).viewCalendarItem?.Attendees || (calendarState$ | async).viewCalendarItem?.Attendees.length <= 0">
        <cta-panel [topIcon]="'information-circle'" [title]="'calendarViewPage.ctaPanel.title' | translate"
			  [details]="'calendarViewPage.ctaPanel.details' | translate" [extraDetails]="'calendarViewPage.ctaPanel.extraDetails' | translate"
			  [btnLabel]="'calendarViewPage.ctaPanel.buttonLabel' | translate" [hideButton]="true"></cta-panel>
      </div>
      <ion-list *ngIf="(calendarState$ | async).viewCalendarItem?.Attendees && (calendarState$ | async).viewCalendarItem?.Attendees.length > 0">
        <ion-item *ngFor="let attendee of (calendarState$ | async).viewCalendarItem?.Attendees">
          <ion-avatar slot="start">
            <img [src]="getAvatarUrl(attendee.UserId)" onerror="this.onerror=null;this.src='assets/images/defaultProfile.png';">
          </ion-avatar>
          <ion-label>
            <h2>{{attendee.Name}}</h2>
            <p>{{attendee.Note}}</p>
          </ion-label>
          <div slot="end" class="ion-no-margin">
            <span [hidden]="attendee.AttendeeType != 1" style="color: green;">{{ 'calendarViewPage.attendingLabel' | translate }}</span>
					  <span [hidden]="attendee.AttendeeType != 4" style="color: red;">{{ 'calendarViewPage.notAttendingLabel' | translate }}</span>
          </div>
        </ion-item>
			</ion-list>
    </div>
  </div>
</ion-content>