<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{'viewUnitPage.title' | translate}}
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="user-profile-content">
  <ion-row class="user-details-section">
    <ion-col class="user-info-wrapper">
      <ion-row class="user-data-row">
        <ion-col size="9">
          <h3 class="user-name">
            <app-text-shell [data]="(unitsState$ | async).viewUnitInfo?.Name"></app-text-shell>
          </h3>
          <h5 class="user-title">
            <app-text-shell [data]="(unitsState$ | async).viewUnitInfo?.GroupName"></app-text-shell>
          </h5>
        </ion-col>
      </ion-row>
      <ion-row class="actions-row">
        <ion-col class="main-actions">
          <!--<ion-button class="call-to-action-btn" size="small" color="medium">{{ 'viewPersonPage.message' | translate }}</ion-button>-->
        </ion-col>
        <ion-col class="secondary-actions">
          <ion-button class="more-btn" size="small" fill="clear" color="medium">
            <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
  <ion-row class="user-stats-section">
    <ion-col class="user-stats-wrapper" size="6">
      
    </ion-col>
    <ion-col class="user-stats-wrapper" size="6">
      <span class="stat-value">
        <ion-label [style.color]="(unitsState$ | async).viewUnitInfo?.CurrentStatusColor">{{(unitsState$ | async).viewUnitInfo?.CurrentStatus}}</ion-label>
      </span>
      <span class="stat-value">
        <ion-label class="date-time">{{getDate((unitsState$ | async).viewUnitInfo?.CurrentStatusTimestampUtc)}}</ion-label>
      </span>
      <span class="stat-value">
        <ion-label class="date-time">{{getTimeago((unitsState$ | async).viewUnitInfo?.CurrentStatusTimestampUtc)}}</ion-label>
      </span>
      <span class="stat-name">Status</span>
    </ion-col>
  </ion-row>
  <div class="user-about-section">
    <h3 class="details-section-title">Roles</h3>
    <p class="user-description">
      <app-text-shell animation="bouncing" lines="4" [data]="1"></app-text-shell>
    </p>
  </div>



</ion-content>