<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{'viewPersonPage.title' | translate}}
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="user-profile-content">
  <ion-row class="user-details-section">
    <ion-col class="user-image-wrapper">
      <app-aspect-ratio [ratio]="{w: 1, h: 1}">
        <app-image-shell class="user-image" animation="spinner" [src]="getAvatarUrl((personnelState$ | async).viewPersonInfo?.UserId)"></app-image-shell>
      </app-aspect-ratio>
    </ion-col>
    <ion-col class="user-info-wrapper">
      <ion-row class="user-data-row">
        <ion-col size="9">
          <h3 class="user-name">
            <app-text-shell [data]="(personnelState$ | async).viewPersonInfo?.FirstName"></app-text-shell>
            <app-text-shell [data]="(personnelState$ | async).viewPersonInfo?.LastName"></app-text-shell>
          </h3>
          <h5 class="user-title">
            <app-text-shell [data]="getGroupString((personnelState$ | async).viewPersonInfo)"></app-text-shell>
          </h5>
        </ion-col>
      </ion-row>
      <ion-row class="actions-row">
        <ion-col class="main-actions">
         
        </ion-col>
        <ion-col class="secondary-actions">
          <ion-button class="more-btn" size="small" fill="clear" color="medium">
            <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
  <ion-row class="user-stats-section">
    <ion-col class="user-stats-wrapper" size="6">
      <span class="stat-value">
        <ion-label [style.color]="(personnelState$ | async).viewPersonInfo?.StaffingColor">{{(personnelState$ | async).viewPersonInfo?.Staffing}}</ion-label>
      </span>
      <span class="stat-value">
        <ion-label class="date-time">{{getDate((personnelState$ | async).viewPersonInfo?.StaffingTimestamp)}}</ion-label>
      </span>
      <span class="stat-value">
        <ion-label class="date-time">{{getTimeago((personnelState$ | async).viewPersonInfo?.StaffingTimestamp)}}</ion-label>
      </span>
      <span class="stat-name">Staffing</span>
    </ion-col>
    <ion-col class="user-stats-wrapper" size="6">
      <span class="stat-value">
        <ion-label [style.color]="(personnelState$ | async).viewPersonInfo?.StatusColor">{{(personnelState$ | async).viewPersonInfo?.Status}}</ion-label>
      </span>
      <span class="stat-value">
        <ion-label class="date-time">{{getDate((personnelState$ | async).viewPersonInfo?.StatusTimestamp)}}</ion-label>
      </span>
      <span class="stat-value">
        <ion-label class="date-time">{{getTimeago((personnelState$ | async).viewPersonInfo?.StatusTimestamp)}}</ion-label>
      </span>
      <span class="stat-name">Status</span>
    </ion-col>
  </ion-row>
  <div class="user-about-section">
    <h3 class="details-section-title">Roles</h3>
    <p class="user-description">
      <app-text-shell animation="bouncing" lines="4" [data]="getRolesString((personnelState$ | async).viewPersonInfo?.Roles)"></app-text-shell>
    </p>
  </div>



</ion-content>