<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="status" *ngIf="(settingsState$ | async).loggedIn">
      <ion-icon name="flag"></ion-icon>
      <ion-label>Status</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="people">
      <ion-icon name="people"></ion-icon>
      <ion-label>People</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="units">
      <ion-icon name="car"></ion-icon>
      <ion-label>Units</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="calls" *ngIf="(settingsState$ | async).loggedIn">
      <ion-icon name="megaphone-outline"></ion-icon>
      <ion-label>Calls</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
