<div class="bookings">
  <ion-row style="padding-bottom: 10px; border-bottom: 1px solid lightgray;">
    <ion-col size="2">
      <img class="user-image personnel-grid-image" [src]="getAvatarUrl(person?.UserId)" onerror="this.onerror=null;this.src='assets/images/defaultProfile.png';">
    </ion-col>
    <ion-col size="10">
      <ion-label class="person-name">{{person?.FirstName}} {{person?.LastName}} </ion-label>
      <ion-label class="person-roles">
        {{getRolesString(person?.Roles)}}
      </ion-label>
      <ion-label class="person-group">
        {{person.GroupName}}
      </ion-label>
    </ion-col>
  </ion-row>
  <ion-row style="padding: 10px; border-bottom: 1px solid lightgray;">
    <ion-col size="6">
      <ion-label class="person-roles">
        Staffing
      </ion-label>
      <ion-label class="person-name" [style.color]="person?.StaffingColor">{{person?.Staffing}}</ion-label>
      <ion-label class="date-time">{{getDate(person?.StaffingTimestamp)}}</ion-label>
      <ion-label class="date-time">{{getTimeago(person?.StaffingTimestamp)}}</ion-label>
    </ion-col>
    <ion-col size="6">
      <ion-label class="person-roles">
        Status
      </ion-label>
      <ion-label class="person-name" [style.color]="person?.StatusColor">{{person?.Status}}</ion-label>
      <ion-label class="date-time">{{getDate(person?.StatusTimestamp)}}</ion-label>
      <ion-label class="date-time">{{getTimeago(person?.StatusTimestamp)}}</ion-label>
    </ion-col>
  </ion-row>
</div>